<!doctype html>

<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="utf-8">
    <title>Tombola AFUP</title>
    <link rel="stylesheet" href="/player.css" />
</head>

<body>
<section>
    <div class="logo">
        <img src="/forumphp-2017-vecto.svg" />
    </div>
    <h1>Tirage au sort - Forum PHP 2017</h1>
    <p class="message">
        Enregistrement de votre participation en cours...
    </p>
    <p>
        Connecté avec les informations suivantes:<br />
        {{ app.request.session.get('user').name }} ({{ app.request.session.get('user').nickname }})
    </p>
    <img src="{{ app.request.session.get('user').avatar }}&s=75" class="avatar" />
</section>
<script>
    var messageEl = document.querySelector('p.message');

    {% set wsprotocol = app.request.isSecure ? 'wss' : 'ws' %}

    var conn = new WebSocket('{{ wsprotocol }}://{{ app.request.host }}:{{ app.request.port }}');
	conn.onopen = function(e) {
		//console.log("Connection established!");
		var user  = {
			avatar: "{{ app.request.session.get('user').avatar }}&s=150",
            nickname: "{{ app.request.session.get('user').nickname }}",
            admin: 0,
            name: "{{ app.request.session.get('user').name }}"
        };

		conn.send(JSON.stringify(user));
		messageEl.textContent = 'Merci ! Votre participation a bien été enregistrée !';

		conn.close();
	};

	conn.onmessage = function(e) {

	};

	conn.onerror = function(e) {
		messageEl.textContent = 'Une erreur est survenue :\'( Essayez d\'actualiser cette page';

    }
</script>
</body>
</html>
